{% extends "layout.html" %}

{% block title %}
    Books
{% endblock %}

{% block body %}
<h1>Hi {{ name }}</h1>
<h2>Book Details</h2>

    <ul>
        <li>ISBN: {{ book.isbn }}</li>
        <li>Title: {{ book.title }}</li>
        <li>Author: {{ book.author }}</li>
        <li>Publication Year: {{ book.publicationyear}} minutes</li>
    </ul>

    <h2>Reviews</h2>
    <ul>
        {% for review in reviews %}
            <li>{{ review.rating }} {{ review.description }}</li>
        {% else %}
            <li>No Reviews.</li>
        {% endfor %}
    </ul>
   
    <form action="{{url_for('book', book_id=book.id)}}" method="post">
        <div class="container">
            <h3>Write a review</h3>
            <label for="description"><b>Review</b></label>
            <select class="form-control" name="rating">
                {% for num in range(5) %}
                    <option value="{{ num + 1}}">{{ num + 1 }}</option>
                {% endfor %}
            </select>
        
            <label for="description"><b>Description</b></label>
            <input type="text" placeholder="Enter an opinion" name="description" required>
        
            <button type="submit">Comment</button>

          </div>
    </form>
{% endblock %}