{% extends "layout.html" %}

{% block title %}
    Sing up
{% endblock %}

{% block body %}
    <h1>Sing Up </h1>
    <form action="{{ url_for('signup') }}" method="post">
        <div class="container">
            <label for="name"><b>Name</b></label>
            <input type="text" placeholder="Enter your name" name="name" required>

            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>
        
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
        
            <button type="submit">Login</button>

          </div>
    </form>
{% endblock %}